body{
    background-color:white;
}
*{
    margin: 0px;
    padding: 0px;
  
  font-family: 'poppins','sans-serif';
}
/* navbar*/

.navbar{
    margin: 10px;
    padding: 10px;
}
.bar {
    margin: 10px;
    padding: 10px;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0,0,0);
    z-index: 1;



}
#navbar > ul{
    position: relative;
    right: 10%;
}
.logo{
    width: 10%;
}
.hero h1{
    font-size: 5rem;
    color: #fff;
    font-style: italic;
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    
}
nav ul li a:hover{
    border: 12px solid white  ;
    border-radius: 5px;
    color: #111111;
    background-color: #fff;
    height: 10px;
    /* transition: all 0.5s ease-in; */
    
    
}
#accessoryBox > div > img 
{
    width: 100%;
    height: 100%;
    left: 0rem;
    top: 16rem;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}
.grad{
    height: 100%;
    width: 1798px;
    background-image: linear-gradient(1deg, rgba(0, 0, 0, 0.6) 3%, rgba(0, 0, 0, 0) 65%) !important;
    position: absolute;
    left: 0rem;
    top: 16rem;
}
#cufflinks-heading {
    display: inline-flex;
    position: absolute;
    top: 67rem;
    left: 45rem;
    font-size: 30px;
    color: black;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    height: 10rem;
}
#cufflinks {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: 72rem;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
}
#cufflinks > div.cufflinks-first > img {
    height: 24rem;
    width: 100%;
}
#cufflinks > div.cufflinks-two > img {
    height: 24rem;
    width: 100%;
}
#cufflinks > div.cufflinks-three > img {
    height: 24rem;
    width: 100%;   
}
#cufflinks2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: 77rem;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
}
#cufflinks2 > div.cufflinks-four > img {
    width: 100%;
    height: 24rem;
}
#cufflinks2 > div.cufflinks-five > img {
    width: 100%;
    height: 24rem;
}
#accessoryBox > div.accessoryHeading > h1 {
    font-size: 58pt;
    color: #030303;
    font-style: italic;
    
    text-align: center;
    position: relative;
    align-items: center;
    display: inline-flex;
    
    justify-items: center;
    left: 38rem;
    justify-content: center;
    top: 9rem;
    flex-direction: row;
}

#accessoryBox > div.accessoryHeading2 > h2 {
    
    position: absolute;
    top: 56rem;
    left: 43rem;
    font-size: 50px;
    color: #f5f2f2;
    margin: 30px;
    text-align: center;
    /* align-items: center; */
    display: inline;
    justify-items: center;
}
#accessoryBox > div.accessoryHeading2 > h3 {
    display: inline-flex;
    position: absolute;
    top: 57rem;
    left: 47rem;
    font-size: 18px;
    color: #f5f2f2;
    text-align: center;
    justify-items: center;
}
#menWatches {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: 89rem;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
} 
#menWatches > div.menWatch1 > img {
    height: 24rem;
    width: 100%;
}
#menWatches > div.menWatch2 > img {
    height: 24rem;
    width: 100%;

}
#menWatches > div.menWatch3 > img {
    height: 24rem;
    width: 100%;

}
#watches-heading {
    display: inline-flex;
    position: absolute;
    top: 132rem;
    left: 45rem;
    font-size: 30px;
    color: black;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    height: 10rem;
}
#rings-heading {
    display: inline-flex;
    position: absolute;
    top: 168rem;
    left: 45rem;
    font-size: 30px;
    color: black;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    height: 10rem;
}
#menRings {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    top: 101rem;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
}
#menRings > div.ring1 > img {
    height: 24rem;
    width: 100%;
}
#menRings > div.ring2 > img {
    height: 24rem;
    width: 100%;

}
#menRings > div.ring3 > img {
    height: 24rem;
    width: 100%;

}
#menTie {
    
        position: relative;
        display: flex;
        flex-wrap: wrap;
        top: 112rem;
        flex-direction: row;
        align-content: space-around;
        justify-content: space-around;
}
#tie-heading {
    display: inline-flex;
    position: absolute;
    top: 204rem;
    left: 45rem;
    font-size: 30px;
    color: black;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    height: 10rem;
}
#menTie > div.tieClip1 > img {
    height: 24rem;
    width: 100%;
}
#menTie > div.tieClip2 > img {
    height: 24rem;
    width: 100%;
}

.footer{
    background-color: #020202;
    color: #fff;
    padding: 2% 0%;
    position: absolute;
    width: 100%;
    top: 244rem;
}
.foot-container{
    max-width: 1170px;
   
    margin: auto;
}
body > footer > div > div > div:nth-child(1) > ul{
    list-style: none;
}
body > footer > div > div > div:nth-child(2) > ul{
    list-style: none;
}
body > footer > div > div > div:nth-child(3) > ul{
    list-style: none;
}
body > footer > div > div{
    display: flex;
    flex-wrap: nowrap;
}
.footer-col{
    width: 22%;
    padding: 0 15px;

}
.footer-col h4{
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 35px;
    line-height: 1.5;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: #f8f6f7;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:#ffffff ;
    text-decoration: none;
    font-weight: 300px;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left:8px ;
}
.footer-col .socialLinks a{
    display: inline-block;
    height: 40px;
    width: 38px;
    background-color: rgba(255,255,255,0.2);
    margin: 0px 10px 10px 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .socialLinks a:hover{
    color: #24262b;
    background-color: #ffffff;
}

