:root{
    --primary-color: #fff;
    --secondary-color:#000000;
}
.dark{
    --primary-color: #000;
    --secondary-color:#ffffff;
}

    
    

/* .OtherFunctionsgrad {
    height: 100%;
    width: 1798px;
    background-image: linear-gradient(1deg, rgba(0, 0, 0, 0.6) 3%, rgba(0, 0, 0, 0) 65%) !important;
    position: absolute;
    left: 0rem;
    top: 133px;
} */
body > h1 {
    font-size: 58pt;
    color: var(--secondary-color);
    font-style: italic;
    text-align: center;
    position: relative;
    align-items: flex-start;
    display: inline-flex;
    justify-items: center;
   left: 33rem;
    justify-content: center;
    flex-direction: row;
    top: 9rem;
}

#otherFunctions-mainContainer > div > h2 {
    position: absolute;
    top: 23rem;
    left: 43rem;
    font-size: 50px;
    color: #f5f2f2;
    margin: 30px;
    text-align: center;
  
    display: inline;
    justify-items: center;
}
#otherFunctions-mainContainer > div > h3 {
    display: inline-flex;
    position: absolute;
    top: 24rem;
    left: 48rem;
    font-size: 18px;
    color: #f5f2f2;
    text-align: center;
    justify-items: center;
}

#otherFunctions-mainContainer {
    display: flex;
    position: absolute;
    top: 16rem;
    width: -webkit-fill-available;
    height: 85vh;
    z-index: -1;
}
#otherFunctions-mainContainer > img {
height: 100%;
width: -webkit-fill-available;
}
#videoCon {
    display: flex;
    position: relative;
        top: 3rem;
        height: fit-content;
        width: 100%;
        justify-content: center;
    
}
#SMC { 
    display: flex;
    position: relative;
    height: 63rem;
    width: 73%;
    flex-direction: column;
    bottom: 65rem;
    justify-content: space-between;
}
#SMC > img:nth-child(1){
    width: 285px;
}
#SMC > img:nth-child(2){
    width: 285px;
}
#SMC2 {
    display: flex;
        height: 63rem;
        width: 23%;
        z-index: -1;
        position: relative;
        bottom: 128rem;
        left: 85rem;
        flex-direction: column;
        justify-content: space-between;
}
#SMC2 > img:nth-child(1){
    width: 285px;
}
#SMC2 > img:nth-child(2){
    width: 285px;
}


#SMC3 {
    display: flex ;
        position: relative;
        height: 521px;
        bottom: 120rem;
        z-index: -1;
        justify-content: space-around;
}
#Only1 {
    display: flex;
        width: 100%;
        height: 100%;
   
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 110rem;
        z-index: -1;
}
#Only1 > div > img {
    height: 45rem;
}


/* ---------footer------------ */
.footer{
    color: var(--secondary-color);
    background-color:var(--primary-color);
    
    padding: 2% 0%;
    position: absolute;
    width: 100%;
    top: 169rem;
}
#foot-container{
    max-width: 1170px;
   
    margin: auto;
}
body > footer > div > div > div:nth-child(1) > ul{
    list-style: none;
}
body > footer > div > div > div:nth-child(2) > ul{
    list-style: none;
}
body > footer > div > div > div:nth-child(3) > ul{
    list-style: none;
}
body > footer > div > div{
    display: flex;
    flex-wrap: nowrap;
}
.footer-col{
    width: 22%;
    padding: 0 15px;

}
.footer-col h4{
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 35px;
    line-height: 1.5;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    color: var(--secondary-color);
   
    
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.ul li:not(:last-child){
    margin-bottom: 10px;
}
.a{
    font-size: 16px;
    text-transform: capitalize;
    
    text-decoration: none;
    font-weight: 300px;
    color: var(--secondary-color);

    display: block;
    transition: all 0.3s ease;
}
.a:hover{
   
    color:var(--secondary-color);
    
    padding-left:8px ;
}
.footer-col .socialLinks a{
    display: inline-block;
    height: 40px;
    width: 38px;
  
    margin: 0px 10px 10px 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
  
    color: var(--secondary-color);
    transition: all 0.5s ease;
}
.footer-col .socialLinks a:hover{
    color: var(--primary-color);
    background-color:var(--secondary-color);
    
}
#foot-container > div {
    display: flex;
}
.ul {
    list-style: none;
}