body{
    background-color:var(--primary-color);
    
}

*{
    margin: 0px;
    padding: 0px;
  
  font-family: 'poppins','sans-serif';
}
:root{
    --primary-color: #fff;
    --secondary-color:#000000;
}
.dark{
    --primary-color: #000;
    --secondary-color:#ffffff;
}
#DarkLightMode {
    width: 30px;
    cursor: pointer;
    position: absolute;
    left: 53rem;
    border: solid white ;
    background-color: #fff;
    border-radius: 11px;
}


#AllMen-Container1 > div.AllMen > img
{
    height: 100%;
    width: 113rem;
    left: 0rem;
    position: absolute;
    top: 16rem;
    z-index: -1;
}

#AllMen-Container1 > div.AllMen-classDiv > h3{
    display: inline-flex;
    position: absolute;
    top: 57rem;
    left: 48rem;
    font-size: 24px;
    color: #f5f2f2;
    text-align: center;
    justify-items: center;
}
#AllMen-Container1 > div.AllMen-classDiv > h2 {
    position: absolute;
    top: 56rem;
    left: 43rem;
    font-size: 50px;
    color: #f5f2f2;
    margin: 30px;
    text-align: center;
    /* align-items: center; */
    display: inline;
    justify-items: center;
}
.grad{
    height: 100%;
    width: 1798px;
    background-image: linear-gradient(1deg, rgba(0, 0, 0, 0.6) 3%, rgba(0, 0, 0, 0) 65%) !important;
    position: absolute;

    top: 16rem;
}
.grad2{
    height: 100%;
    width: 1798px;
    background-image: linear-gradient(1deg, rgba(0, 0, 0, 0.6) 3%, rgba(0, 0, 0, 0) 65%) !important;
    position: absolute;
    top: 71rem;
}
.grad3{
    height: 100%;
    width: 1798px;
    background-image: linear-gradient(1deg, rgba(0, 0, 0, 0.6) 3%, rgba(0, 0, 0, 0) 65%) !important;
    position: absolute;
    top: 127rem;
}
h1 {
    font-size: 58pt;
    color:var(--secondary-color);
    font-style: italic;
    text-align: center;
    position: relative;
    align-items: center;
    display: inline-flex;
    justify-items: center;
    left: 38rem;
    justify-content: center;
    top: 9rem;
    flex-direction: row;
} 
#AllMen-container > h2 {
    font-size: 49pt;
    color: #030303;
    font-style: italic;
    text-align: center;
    position: relative;
    align-items: center;
    display: inline-flex;
    justify-items: center;
    left: 38rem;
    justify-content: center;
    top: 61rem;
    flex-direction: row;
}
#allMenWhiteWdd > h2 {
    font-size: 49pt;
    color: #030303;
    font-style: italic;
    text-align: center;
    position: relative;
    align-items: center;
    display: inline-flex;
    justify-items: center;
    left: 38rem;
    justify-content: center;
    top: 61rem;
    flex-direction: row;
}


#AllMen-Container1 > img {
    height: 100%;
    width: 113rem;
    left: 0rem;
    position: absolute;
    top: 16rem;
    z-index: -1;
}
#allMenWhiteWdd > div.allMenWhiteWedding > img{    
    height: 100%;
    width: 113rem;
    
    position: absolute;
    
    z-index: -1;
}
#AllMen-Container2 > div.AllMenHWA-btn > a {
    color: white;
    text-decoration: none;
}
#AllMen-Container2 > div.AllMenHWA-btn2 > a {
    color: white;
    text-decoration: none;
}
#AllMen-Container2 >  div.AllMenHWA-btn2 {
  
    display: inline-block;
    color: white;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 14px 20px;
    background-color: #00000030;
    position: absolute;
    right: 52rem;
    top: 39rem;
}
#AllMen-Container2 > div.heritageMenMain > h2 {
    position: absolute;
    top: 32rem;
    left: 40rem;
    font-size: 50px;
    color: #f5f2f2;
    margin: 30px;
    text-align: center;
  
    display: inline;
    justify-items: center;
}

#AllMen-Container2 {
    display: flex;
    position: absolute;
    top: 71rem;
    width: 100%;
    height: 100%;
}
#AllMen-Container2 > div.heritageMenMain > img {
    height: 100%;
    width: 113rem;
    left: 0rem;
    position: absolute;
    z-index: -1;
}
#allMenWhiteWdd {
    display: flex;
    position: absolute;
    top: 129rem;
    width: 100%;
    height: 100%;
}

#allMenWhiteWdd > div.allMenWhiteWedding > h2 {
    position: absolute;
    top: 34rem;
    left: 40rem;
    font-size: 50px;
    color: #f5f2f2;
    margin: 30px;
    text-align: center;
    display: inline;
    justify-items: center;
}
#allMenWhiteWdd > div.AllMenHWA-btn2 > a {
    color: white;
    text-decoration: none;
}
#allMenWhiteWdd > div.AllMenHWA-btn2{
    display: inline-block;
    color: white;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 14px 20px;
    background-color: #00000030;
    position: absolute;
    right: 52rem;
    top: 41rem;
}
#AllMen-Container2 > div.AllMenHWA-btn {  
display: inline-block;
    color: white;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 14px 20px;
    background-color: #00000030;
    position: absolute;
    right: 52rem;
    top: 39rem;
}
#allMenWhiteWdd {  
  display: flex;
    position: absolute;
    top: 127rem;
    width: 100%;
    height: 100%;  
}



body > footer {
    color: var(--secondary-color);
    background-color:var(--primary-color);
    
    padding: 2% 0%;
    position: absolute;
    width: 100%;
    top: 183rem;
}

.foot-container{
    max-width: 1170px;
   
    margin: auto;
}
body > footer > div > div > div:nth-child(1) > ul{
    list-style: none;
}
body > footer > div > div > div:nth-child(2) > ul{
    list-style: none;
}
body > footer > div > div > div:nth-child(3) > ul{
    list-style: none;
}
body > footer > div > div{
    display: flex;
    flex-wrap: nowrap;
}
.footer-col{
    width: 22%;
    padding: 0 15px;

}
.footer-col h4{
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 35px;
    line-height: 1.5;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    color: var(--secondary-color);
   
    
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    


    text-decoration: none;
    font-weight: 300px;
    color: var(--secondary-color);

    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
   
    color:var(--secondary-color);
    
    padding-left:8px ;
}
.footer-col .socialLinks a{
    display: inline-block;
    height: 40px;
    width: 38px;
  
    margin: 0px 10px 10px 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
  
    color: var(--secondary-color);
    transition: all 0.5s ease;
}
.footer-col .socialLinks a:hover{
    color: var(--primary-color);
    background-color:var(--secondary-color);
    
}