body{
    background-color: var(--primary-color);
 }
:root{
    --primary-color: #fff;
    --secondary-color:#000000;
}
.dark{
    --primary-color: #000;
    --secondary-color:#ffffff;
}
#DarkLightMode {
    width: 30px;
    cursor: pointer;
    position: absolute;
    left: 53rem;
    border: solid white ;
    background-color: #fff;
    border-radius: 11px;
}

#allWomensection {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    top: 15rem;
    z-index: -1;
}
#allWomensection > div.ALLWomenimgDiv {
height: 100%;
width: 100%;
}
#allWomensection > div.ALLWomenimgDiv > img {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: relative;
}
.gradALLwomen {
    height: 100%;
    width: 112rem;
    background-image: linear-gradient(1deg, rgba(0, 0, 0, 0.5) 3%, rgba(0, 0, 0, 0) 65%) !important;
    position: absolute;
    left: 7px;
    top: 1px;
}
.gradALLwomen2 {
    height: 100%;
    width: 112rem;
    background-image: linear-gradient(1deg, rgba(0, 0, 0, 0.5) 3%, rgba(0, 0, 0, 0) 65%) !important;
    position: absolute;
    left: 7px;
    top: 1px;
}
body > div.gradALLwomen3{
    height: 100%;
    width: 811px;
    background-image: linear-gradient(1deg, rgba(0, 0, 0, 0.5) 3%, rgba(0, 0, 0, 0) 65%) !important;
    position: absolute;
    left: 494px;
    top: 2033px;
}
.gradALLwomen4 {
    height: 100%;
    width: 112rem;
    background-image: linear-gradient(1deg, rgba(0, 0, 0, 0.5) 3%, rgba(0, 0, 0, 0) 65%) !important;
    position: absolute;
    left: 7px;
    top: 1px;
}
body > h1 {
    font-size: 58pt;
    color: var(--secondary-color);
  
    
    font-style: italic;
    
    text-align: center;
    position: relative;
    align-items: center;
    display: inline-flex;

    justify-items: center;
    left: 38rem;
    justify-content: center;
    top: 8rem;
    flex-direction: row;
}

 .h3{
    display: inline-flex;
    position: absolute;
    top: 37rem;
    left: 48rem;
    font-size: 24px;
    color:white;
    text-align: center;
    justify-items: center;
}
 .h2 {
    position: absolute;
    top: 37rem;
    left: 43rem;
    font-size: 50px;
    color: white;
    margin: 30px;
    text-align: center;
    /* align-items: center; */
    display: inline;
    justify-items: center;
}
#allWomensection2 {
    display: flex;
        position: absolute;
        top: 71rem;
        width: 100%;
        height: 100%;
}
#allWomensection2 > div.ALLWomenimgDiv2 > img {
    height: 100%;
    width: 113rem;
    left: 0rem;
    position: absolute;
    z-index: -1;
}
#allWomensection2 > h2 {
    position: absolute;
    top: 32rem;
    left: 40rem;
    font-size: 50px;
    color: #f5f2f2;
    margin: 30px;
    text-align: center;
    display: inline;
    justify-items: center;
}
#allWomensection2 > div.AllwomenHWA-btn {
    display: inline-block;
    color: white;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 14px 20px;
    background-color: #00000030;
    position: absolute;
    right: 52rem;
    top: 39rem;
}
#allWomensection2 > div.AllwomenHWA-btn > a {
    color: #fff;
    text-decoration: none;
}
#allWomensection3 {
    display: flex ;
        position: absolute;
        top: 127rem;
        width: 100%;
        height: 100%;
}
#allWomensection4 {
        display: flex;
        position: absolute;
        top: 127rem;
        width: 100%;
        height: 100%;
        justify-content: center;
}
#allWomensection3 > div.ALLWomenimgDiv3 > img {
    height: 100%;
    width: 100vh;
    position: absolute;
    z-index: -1;
}
#allWomensection3 > div.ALLWomenimgDiv4 > img {
    height: 100%;
    width: 100vh;
    position: absolute;
    z-index: -1;
}
body > h2.h2Another1 {
    position: absolute;
    top: 162rem;
    left: 34rem;
    font-size: 50px;
    color: #f5f2f2;
    margin: 30px;
    text-align: center;
    display: inline;
    justify-items: center;
}
#allWomensection3 > div {
    display: flex;
    justify-content: center;
    width: 100%;
}
body > div.AllwomenHWA-btn2{
    display: inline-block;
    color: white;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 14px 20px;
    background-color: #00000030;
    position: absolute;
    right: 55rem;
    top: 171rem;
}
body > div.AllwomenHWA-btn2 > a {
    color: white;
    text-decoration: none;
}
#allWomensection4 {
    display: flex;
        position: absolute;
        top: 181rem;
        width: 100%;
        height: 100%;
}
#allWomensection4 > div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
#allWomensection4 > div > img {
    height: -webkit-fill-available;
}
body > div.AllwomenHWA-btn3 {
     display: inline-block;
    color: white;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 14px 20px;
    background-color: #00000030;
    position: absolute;
    right: 55rem;
    top: 222rem;
}
body > div.AllwomenHWA-btn3 > a {
    color: white;
    text-decoration: none;
}
body > h2.h2Another4{
    position: absolute;
    top: 214rem;
    left: 37rem;
    font-size: 50px;
    color: #f5f2f2;
    margin: 30px;
    text-align: center;
    display: inline;
    justify-items: center;
}
 .footerAllWomen{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 2% 0%;
    position: absolute;
    width: 100%;
    top: 234rem;
}