
 body{
    background-color: var(--primary-color);
 }
:root{
    --primary-color: #fff;
    --secondary-color:#000000;
}
.dark{
    --primary-color: #000;
    --secondary-color:#ffffff;
}
#DarkLightMode {
    width: 30px;
    cursor: pointer;
    position: absolute;
    left: 40rem;
    border: solid white ;
    background-color: #fff;
    border-radius: 11px;
}

/* navbar*/

.logo{
    width: 10%;
}

#navbar > ul{
    position: relative;
    right: 10%;
    margin: 0px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    
}
nav ul li a:hover{
    border: 12px solid white  ;
    border-radius: 5px;
    color: #111111;
    background-color: #fff;
    height: 10px;
    
    
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0,0,0);
    z-index: 1;
    right: 0rem;
}
#heritageWedding-container > div.heritage-classDiv > h2 {
   position: absolute;
    top: 29rem;
    left: 37rem;
    font-size: 50px;
    color: #f5f2f2;
    margin: 30px;
    text-align: center;
    /* align-items: center; */
    display: inline;
    justify-items: center;
}
#heritageWedding-Accessory > div > div.HWA-class > h2 {
    position: absolute;
    top: 31rem;
    left: 39rem;
    font-size: 50px;
    color: #f5f2f2;
    margin: 9px;
    text-align: center;
    /* align-items: center; */
    display: inline;
    justify-items: center;
}
#heritageWedding-container > div.heritage-classDiv > h3 {  
   display: inline-flex;
    position: absolute;
    top: 29rem;
    left: 41rem;
    font-size: 18px;
    color: #f5f2f2;
    text-align: center;
    justify-items: center;
}
#heritageWedding-Accessory > div > div.HWA-class > h3
 {
    display: inline-flex;
    position: absolute;
    color:#f5f2f2 ;
    text-align: center;
    justify-items: center;
    left: 42rem;
    top: 30rem;
    font-size: 18px;
    
}
#heritageWedding-container {
  display: flex;
    position: absolute;
    top: 16rem;
    width: 93rem;
    height: 100vh;
}
#heritageWedding-container > div > img {
 width: 95rem;
    height: 100vh;
    position: relative;
    z-index: -1;
    right: 7px;
}
#heritageWedding-container2 {
   display: flex;
    position: absolute;
    top: 65rem;
    width: 94rem;
    height:100vh ;
    justify-content: space-between; 
}
#heritageWedding-container2 > div:nth-child(1) > img {
    height: 100vh;
    width: 100vh
}
#heritageWedding-container2 > div:nth-child(2) > img {
    height: 100vh;
    width: 100vh
}
#heritageWedding-container3 {
   display: flex;
    justify-content: space-between;
    position: absolute;
    top: 115rem;
    width: 93rem;
}
#heritageWedding-Accessory > div > div.HWA-btn {
      display: inline-block;
    color: white;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 14px 20px;
    background-color: #00000030;
    position: absolute;
    right: 41rem;
    top: 37rem;

}
#heritageWedding-Accessory > div > div.HWA-btn > a {
    color: white;
    text-decoration: none;
}

body > h1 {
    font-size: 58pt;
    color: var(--secondary-color);
  
    
    font-style: italic;
    
    text-align: center;
    position: relative;
    align-items: center;
    display: inline-flex;

    justify-items: center;
    left: 38rem;
    justify-content: center;
    top: 5rem;
    flex-direction: row;
}
.heritageGrad {
   height: 100%;
    width: 95rem;
    background-image: linear-gradient(1deg, rgba(0, 0, 0, 0.5) 3%, rgba(0, 0, 0, 0) 65%) !important;
    position: absolute;
    left: -5px;
    top: 0px;

}
.HWAGrad {
    height: 100%;
    width: 1510px;
    background-image: linear-gradient(1deg, rgba(0, 0, 0, 0.5) 3%, rgba(0, 0, 0, 0) 65%) !important;
    position: absolute;
    left: -5px;
    top: 0rem;

}
#heritageWedding-Accessory > div:nth-child(1) {
    position: relative;
    top: 153rem;
    display: flex;
    justify-content: center;
}
#heritageWeddingVideo {
    height: 100vh;
}
#heritageWedding-container3 > div:nth-child(2) > img {
    height: 691px;
}

#idHeritageIcon {
  position: absolute;
    top: 156rem;
    left: 27rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 57px;
}


#heritageiconFormuteVideo {
    height: 20px;
    cursor: pointer;
}
#heritageWedding-Accessory > div:nth-child(1) > img {
    width: 1510px;
    height: 100vh;
}
#heritageiconForPlayVideo {
    height: 20px;
    cursor: pointer;
}

/* footer  */
.footer{
    color: var(--secondary-color);
    background-color:var(--primary-color);
    
    padding: 2% 0%;
    position: absolute;
    width: 100%;
    top: 212rem;
}
.foot-container{
    max-width: 1170px;
   
    margin: auto;
}
body > footer > div > div > div:nth-child(1) > ul{
    list-style: none;
}
body > footer > div > div > div:nth-child(2) > ul{
    list-style: none;
}
body > footer > div > div > div:nth-child(3) > ul{
    list-style: none;
}
body > footer > div > div{
    display: flex;
    flex-wrap: nowrap;
}
.footer-col{
    width: 22%;
    padding: 0 15px;

}
.footer-col h4{
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 35px;
    line-height: 1.5;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    color: var(--secondary-color);
   
    
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    


    text-decoration: none;
    font-weight: 300px;
    color: var(--secondary-color);

    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
   
    color:var(--secondary-color);
    
    padding-left:8px ;
}
.footer-col .socialLinks a{
    display: inline-block;
    height: 40px;
    width: 38px;
  
    margin: 0px 10px 10px 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
  
    color: var(--secondary-color);
    transition: all 0.5s ease;
}
.footer-col .socialLinks a:hover{
    color: var(--primary-color);
    background-color:var(--secondary-color);
    
}
#foot-container {
    max-width: 1170px;
    margin: auto;
}