

body{
    background-color:var(--primary-color);
    overflow-x: hidden;
}


.content{
    text-align: center;
    margin: 22px 0px;
}
.content h2{
font-size: 50px;
color: #0a0a0a;
background-color: white;
display: inline;
margin: 30px;
font-style: italic;
}


#heroMPContainer1 > div.menBoxmainTr > h2 
{  
    
    display: inline-block;
    
 position: absolute;
  top: 49rem;
    left: 42rem;
    font-size: 50px;
    color: #f5f2f2;
  
    margin: 30px;
    text-align: center;
    align-items: center;
    display: inline;
  
    justify-items: center;
  
}
#heroMPContainer1 > div.heroM1 > div.img2 > img {

    height: 100%;
    width: 112rem;
    left: 0rem;
   top: 16rem; 
   position: absolute;
    z-index: -1;
    object-fit: cover;
}

.grad {
    height: 100%;
    width: 112rem;
    background-image: linear-gradient(1deg, rgba(0, 0, 0, 0.5) 3%, rgba(0, 0, 0, 0) 65%) !important;
    position: absolute;
    left: 0rem;
    top: 16rem; 
   
}
#heroMPContainer1 > div.heroM1 > div.menBox > h1 {
    font-size: 58pt;
    color: var(--secondary-color);
    font-style: italic;
    display: flex;
   
    text-align: center;
    position: relative;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    justify-items: center;
    left: 38rem;
    justify-content: center;
    top: 09rem;
    flex-direction: row;
}
#heroMPContainer1 > div.menBoxmainTr > h3 {
    display: inline-flex;
    position: absolute;
    top: 50rem;
    left: 46rem;
    font-size: 18px;
    color: #f5f2f2;
    text-align: center;
    justify-items: center;
}


#menCollection > div > img {
    height: 100vh;
    max-width: 100%;
    /* position: absolute; */
    display: block;
  
    object-fit: cover;
    object-position: center center;

}
#menCollection > div.menC2 > img {
    height: 100vh;
    max-width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
  
}
#menCollection{
  width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    top: 60rem; 
}


#menVideo { 
   width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    top: 66rem;
    align-items: flex-start;
    align-content: space-around;
}
#oneVid {
    height: 24rem;
    width: 16rem;
}
#twoVid {
    height: 362px;
}
#menVideo > div > video{
    width: 37vh;
    height: 26rem;
}

#menCollection > div.menC2 > video {
    height: 100vh;
    max-width: 100%;
    /* position: absolute; */
    display: block;
    object-fit: cover;
    object-position: center center;
}

#menVideo > div.manpic3 > img {
    height: 26rem;
}
#menVideo > div.manpic4 > img {
    height: 26rem;   
}
#wordsFormUs {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    top: 71rem;
}
p{
    font-size: 15pt ;
    text-align: center;
    color: var(--secondary-color);
}
#menvidLastbox {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    top: 157rem;
    width: 100%;
    align-content: center;
}

.menBoxTr02 > h2 {
    font-size: 50px;
    color: #f5f2f2;
    /* background-color: yellow; */
    display: flex;
    margin: 30px;
    text-align: center;
    position: absolute;
    align-items: center;
    display: inline;
    justify-content: center;
    justify-items: center;
    left: 40%;
    top: 29rem;
}
.btn-03mp a
 {
    text-decoration: none;
    display: inline-block;
    color: #f5f2f2;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 14px 20px;
    position: absolute;
    left: 56rem;
    top: 41rem;
    background-color: #00000030;
}
#menvidLastbox > div.manvideo3 > video {
    
    height: 100vh;
}
#menWearIcon2{
    position: relative;
    top: 51rem;
    left: 51rem;
    /* padding: 0px 3px; */
    /* margin: 11px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 57px;
   
}
#menWearIcon{
    position: relative;
    top: 20rem;
    left: -5rem;
    /* padding: 0px 3px; */
    /* margin: 11px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 57px;
   
}
/* #icon01 {    
    height: 20px;
    cursor: pointer;
} */
#Menicon02 {    
    height: 20px;
    cursor: pointer;
}
#MenIcon {    
    height: 20px;
    cursor: pointer;
}
#menvidLastbox > div.menBoxTr02 > a {
   text-decoration: none;
    display: inline-block;
    color: #f5f2f2;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 14px 20px;
    position: absolute;
    left: 49rem;
    top: 36rem;
    
    background-color: #00000030;
}
#MeniconForPlayVideo {    
  height: 20px;
    cursor: pointer;
    display: flex;
    position: relative;
    top: 59rem;
    left: 19rem;
}
#MeniconForPlayVideo2 {
  height: 20px;
    cursor: pointer;
    display: flex;
    position: relative;
    top: 59rem;
    left: 41rem;
}
